<div class='container'>
  <h1>IdeaBox</h1>
    <form action='/' method='POST'>
      <div class="input-group">
        <span class="input-group-addon">Title</span>
        <input type="text" class="form-control" name='idea[title]'/>
      </div>
      <br/>
      <div class="input-group">
        <span class="input-group-addon">Description</span>
        <input type="text" class="form-control" name='idea[description]'/></br>
      </div>
    </br>
      <div class='btn-group'>
        <button class='btn btn-success' type='submit'>Submit</button>
      </div>
    </form>
    <br/>
  </div>
</div>

<div class='container'>
<div class="panel panel-primary">
  <div class="panel-heading"><h3>Existing Ideas<h3></div>
    <table class="table table-condensed table-striped table-hover text-center">
      <thead>
        <tr>
          <th class="text-center">Title</th>
          <th class="text-center">Description</th>
          <th class="text-center">Like</th>
          <th class="text-center">Unlike</th>
          <th class="text-center"></th>
          <th class="text-center"></th>
        </tr>
      </thead>

      <tbody>
          <tr>
          <% ideas.each do |idea| %>
            <td><%= idea.title.capitalize %></td>
            <td><%= idea.description %></td>
            <td>
              <form action='/<%= idea.id %>/like' method='POST' style="display: inline">
                <input type='submit' value="+"/>
              </form>
            </td>
            <td>
              <form action='/<%= idea.id %>/unlike' method='POST' style="display: inline">
                <input type='submit' value="-"/>
              </form>
            </td>
            <td><a class='btn btn-primary' href="/<%= idea.id %>/edit">edit</a></td>
            <td><form action='/<%= idea.id %>', method='POST'>
            <input type="hidden" name="_method" value="DELETE">
            <button class='btn btn-danger' type='submit'>delete</button>
          </form></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
